<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <img src="/images/sookie-logo.png">
  <h1>Quiz</h1>
  <p>Anda bermain dengan?</p>
  <a href="{{ "/family-questions" | relURL }}">
    <button>Orang Tua / Anak</button>
  </a>
  <a href="{{ "/friend-questions" | relURL }}">
    <button>Pasangan / Teman</button>
  </a>
</body>
</html>
